<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Filters</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="abs-center">
              <form class="border p-3 form top-3">
                <h1>Filtro para cambiar el primer caracter a mayuscula</h1>
                <div class="input-group mb-6">
                    <span class="input-group-text">Filtro</span>
                    <input type="text" class="form-control" v-model="message1">
                    <button @click="addUppercase" class="btn btn-outline-secondary" type="button">Agregar</button>
                </div><br><br>

                <ul class="list-group gap-3">
                    <li v-for="person in lstperson" class="list-group-item p-2 light border">{{ person.namePerson | filterLetter}}</li>
                </ul><br><br>

                <h1>Filtro agregar un signo</h1>
                <div class="input-group mb-3">
                    <span class="input-group-text">Filtro</span>
                    <input type="text" class="form-control" v-model="message2">
                    <button @click="AddCurrency" class="btn btn-outline-secondary" type="button">Agregar</button>
                </div><br><br>
        
                <ul class="list-group gap-3">
                    <li v-for="numbers in lstnumber" class="list-group-item p-2 light border">{{ numbers.numberCurrency | filterCurrency}}</li>
                </ul><br><br>

                <h1>Filtro combinado para quitar espacio y colocar en mayusculas todo la cadena</h1>
                <div class="input-group mb-3">
                    <span class="input-group-text">Filtro</span>
                    <input type="text" class="form-control" v-model="message3">
                    <button @click="addMix" class="btn btn-outline-secondary" type="button">Agregar</button>
                </div><br><br>
        
                <ul class="list-group gap-3">
                    <li v-for="mix in lstmix" class="list-group-item p-2 light border">{{ mix.personMix | filterMix}}</li>
                 </ul><br><br>
                </form>
            </div>
        </div>
    </div>

        

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="Eje5.js"></script>
</body>
</html>